services:
  backend:
    build:
      context: ./backend
      dockerfile: dockerfile
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ./backend:/app
    env_file:
      - ../meteo-docker/.env 
    depends_on:
      - weather

  frontend:
    build:
      context: ./frontend/frontend
      dockerfile: dockerfile
    ports:
      - "3000:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:5000

  weather:
    build:
      context: ../meteo-docker
      dockerfile: dockerfile

    env_file:
      - ../meteo-docker/.env  
